<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
<!--    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
    <link rel="stylesheet" href="../bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main_style.css" />

    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script type="text/javascript" src="../js/main_js.js"></script>

    <title>eGitGUI</title>
</head>
<body class="bg-dark text-white">

    <div class="container">
        <button id="fetchBtn" type="button" class="btn btn-secondary">Fetch</button>
        <button id="pullBtn" type="button" class="btn btn-primary">Pull</button>
        <button id="pushBtn" type="button" class="btn btn-primary">Push</button>
        <button id="stageAllBtn" type="button" class="btn btn-primary">Stage All</button>
    </div>

    <table id="mainTable" class="table table-dark">
        <tbody>
        <tr>
            <th>
                <table>
                    <tbody>
                    <tr>
                        <th>
                            <table id="localTable" class="table table-dark table-hover">
                                <tbody id="localTableBody">
                                <tr>
                                    <th><h4>Local Branches</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <table id="remoteTable" class="table table-dark table-hover">
                                <tbody id="remoteTableBody">
                                <tr>
                                    <th><h4>Remote Branches</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th>
                <table id="commitTable" class="table table-dark table-hover table-striped">
                    <tbody id="commitTableBody">
                    <tr>
                        <th><h4>Commits</h4></th>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th>
                <table>
                    <tbody>
                    <tr>
                        <th><h2>Insert Top Table Here</h2></th>
                    </tr>
                    <tr>
                        <th><h2>Insert Bottom Table Here</h2></th>
                    </tr>
                    </tbody>
                </table>
                <button id="commitBtn" type="button" class="btn btn-primary">Commit</button>
            </th>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <button id="openBtn" type="button" class="btn btn-primary">Open</button>
        <button id="refreshBtn" type="button" class="btn btn-secondary">Refresh</button>
        <button id="exitBtn" type="button" class="btn btn-danger">Exit</button>
    </div>
</body>
</html>