<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
<!--    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
    <link rel="stylesheet" href="../lib/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main_style.css" />

    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script type="text/javascript" src="../js/svg_row.js"></script>
    <script type="text/javascript" src="../js/svg_manager.js"></script>
    <script type="text/javascript" src="../js/main_js.js"></script>

    <title>eGitGUI</title>
</head>
<body class="bg-dark text-white">

    <div class="container">
        <button id="fetchBtn" type="button" class="btn btn-secondary">Fetch</button>
        <button id="pullBtn" type="button" class="btn btn-primary">Pull</button>
        <button id="pushBtn" type="button" class="btn btn-primary">Push</button>
        <button id="stageAllBtn" type="button" class="btn btn-primary right">Stage All</button>
    </div>

    <table id="mainTable" class="table table-dark invisible">
        <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <table id="localTable" class="table table-dark table-hover">
                                <tbody id="localTableBody">
                                <tr>
                                    <th><h4>Local Branches</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="remoteTable" class="table table-dark table-hover">
                                <tbody id="remoteTableBody">
                                <tr>
                                    <th><h4>Remote Branches</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td id="commitColumn">
                <h4>Commits</h4>
                <svg id="commitTableSVG" width="500" height="500"></svg>
            </td>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <table id="unstagedTable" class="table table-dark table-hover">
                                <tbody id="unstagedTableBody">
                                <tr>
                                    <th><h4>Unstaged Changes</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="stagedTable" class="table table-dark table-hover">
                                <tbody id="stagedTableBody">
                                <tr>
                                    <th><h4>Staged Changes</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label>
                    Message: <input id="messageTxt" type="text" />
                </label>
                <button id="commitBtn" type="button" class="btn btn-primary">Commit</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <button id="openBtn" type="button" class="btn btn-primary">Open</button>
        <button id="refreshBtn" type="button" class="btn btn-secondary">Refresh</button>
        <button id="exitBtn" type="button" class="btn btn-danger">Exit</button>
    </div>
</body>
</html>