<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main_style.css" />

    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script type="text/javascript" src="../js/up_prompt.js"></script>
    <title>Username and Password</title>
</head>
<body class="bg-dark text-white">
    <div class="container">
        <label>
            Username: <input id="usernameTxt" type="text" />
        </label>
        <label>
            Password: <input id="passwordTxt" type="password" />
        </label>
        <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
        <button id="cancelBtn" type="button" class="btn btn-secondary">Cancel</button>
    </div>
</body>
</html>