<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
<!--    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">-->
    <link rel="stylesheet" href="../../lib/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../css/main_style.css" />

    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script type="text/javascript" src="../js/main_js.js"></script>

    <title>eGitGUI</title>
</head>
<body class="bg-dark text-white">

    <div class="container">
        <button id="fetchBtn" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-down"></i>Fetch</button>
        <button id="pullBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-arrow-down"></i>Pull</button>
        <button id="pushBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-arrow-up"></i>Push</button>
        <button id="branchBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-alt"></i> Branch</button>
        <button id="stageAllBtn" type="button" class="btn btn-success right btn-sm">Stage All</button>
    </div>

    <div id="mainTable" class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div id="branchColumn">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>
                                <table id="localTable" class="table table-borderless table-responsive table-dark table-hover table-sm">
                                    <tbody id="localTableBody">
                                    <tr>
                                        <th><h4>Local Branches</h4></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table id="remoteTable" class="table table-borderless table-responsive table-dark table-hover table-sm">
                                    <tbody id="remoteTableBody">
                                    <tr>
                                        <th><h4>Remote Branches</h4></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div id="commitColumn">
                    <h4>Commits</h4>
                    <svg id="commitTableSVG" width="500" height="500"></svg>
                </div>
            </div>
            <div class="col-3">
                <table class="table table-borderless container">
                    <tbody>
                    <tr>
                        <td>
                            <table id="unstagedTable" class="table table-borderless table-responsive table-dark table-sm">
                                <tbody id="unstagedTableBody">
                                <tr>
                                    <th><h4>Unstaged Changes</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="stagedTable" class="table table-borderless table-responsive table-dark table-sm">
                                <tbody id="stagedTableBody">
                                <tr>
                                    <th><h4>Staged Changes</h4></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="text-white">
                                Message: <input id="messageTxt" type="text" />
                            </label>
                            <button id="commitBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Commit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <button id="initBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-asterisk"></i> Init</button>
        <button id="openBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-folder"></i> Open</button>
        <button id="cloneBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-arrow-down"></i>Clone</button>
        <button id="refreshBtn" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-repeat"></i> Refresh</button>
        <button id="exitBtn" type="button" class="btn btn-danger btn-sm right"><i class="bi bi-door-open"></i> Exit</button>
    </div>

    <div class="container">
        <div class="progress mt-3" style="display: none;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</body>
</html>