<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../lib/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../css/main_style.css" />

    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script type="text/javascript" src="../js/up_prompt.js"></script>
    <title>Username and Password</title>
</head>
<body class="bg-dark text-white">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation"><button class="nav-link active" id="UPTab" data-bs-toggle="tab" data-bs-target="#UP" type="button" role="tab" aria-controls="UP" aria-selected="true">Username+Password</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="SSHTab" data-bs-toggle="tab" data-bs-target="#SSH" type="button" role="tab" aria-controls="SSH" aria-selected="false">SSH</button></li>
    </ul>

    <div class="tab-content">
        <div id="UP" class="tab-pane fade show active" role="tabpanel" aria-labelledby="UPTab">
            <div class="container">
                <label>
                    Username: <input id="usernameTxt" type="text" />
                </label>
                <label>
                    Password: <input id="passwordTxt" type="password" />
                </label>
                <button id="loginBtn" type="button" class="btn btn-success btn-sm">Login</button>
                <button id="cancelBtn" type="button" class="btn btn-secondary btn-sm">Cancel</button>
            </div>
        </div>
        <div id="SSH" class="tab-pane fade" role="tabpanel" aria-labelledby="SSHTab">
            <div class="container">
                <label>
                    Private Key Path: <input id="sshPrivateKey" type="text" /> <button id="sshPrivateKeyBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-folder"></i></button>
                </label>
                <label>
                    Public Key Path: <input id="sshPublicKey" type="text" /> <button id="sshPublicKeyBtn" type="button" class="btn btn-primary btn-sm"><i class="bi bi-folder"></i></button>
                </label>
                <label>
                    Passphrase: <input id="sshPassphrase" type="password" />
                </label>
                <button id="sshConnectBtn" type="button" class="btn btn-success btn-sm">Connect</button>
                <button id="sshCancelBtn" type="button" class="btn btn-secondary btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>